body {
    background-color: rgb(221, 221, 221);
}

.pokemon {
    width: 35%;
    text-align: center;
    background-color: #e1e2e4;
    color: rgb(56, 56, 56);
    margin-top: 3rem;
    padding-bottom: 3rem;
}

.logo {
    width: 4.5rem;
    height: 4.5rem;
}

#pokeList {

    text-transform: capitalize;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
}