<!DOCTYPE html>
<html>

<head>
    <% include ./header.ejs %>
</head>

<body>
    <% include ./nav.ejs %>
    <div class="pokemon container">
        <h1>Pokemon:</h1>
        <ul id="pokeList" class="">
        </ul>
        <div class="actions_container">
            <button id="prevBtn">Previous</button>
            <button id="nextBtn">Next</button>
        </div>
    </div>
    <script src="/prove/prove09/prove09.js"></script>
</body>
